* {
    text-align:  center;
    font-family: Verdana;

    padding: 10px;
}

.plant {
    background-color: #eee;
    font-weight: lighter;

    width:        340px;
    border-radius: 12px;
    margin:        auto;
    box-shadow: 0px 4px 0px #98c1a8;
}

.needs {
    display: none;

    width:  400px;
    margin:  auto;
}

.spacing {
    display: inline-block;
}

.button {
    background-color: #fff;
    border:    none;
    border-radius:   12px;
    color:     #090;
    font-size: 16px;

    display: inline-block;
    width:   66px;
    text-align:    center;
    text-decoration: none;
    padding:     20px;
    margin:   4px 2px;
    transition: 0.22s;
}

.button:hover {
    background-color: #090;
    color: #0f0;
}

.btnact {
    background-color: #090;
    border:    none;
    border-radius:    12px;
    color:     #0f0;
    font-size: 16px;

    display: inline-block;
    width:   66px;
    text-align:    center;
    text-decoration: none;
    padding:   20px;
    margin: 4px 2px;
}

input {
    background-color: #ddd;
    font-size: 17px;
}

.msgtop {
    position: relative;

    bottom:     10px;
    margin-bottom: 0;
}

h3 {
    color: #333;
    font-size:   16px;
}

.section {
    font-size:   18px;

    display:     block;
    text-align:  left;
}

.allgood {
    color:      #090;
    font-family: 'Comfortaa', cursive;
    font-size:  32px;

    padding: 0;
    margin-bottom: 0;
}

.nfont {
    font-family: system-ui;
}

.topmsg {
    background-color: rgba(145, 206, 169, 0.72);
    border-radius:    16px;

    max-width:    500px;
    max-height:   125px;
    padding: 0;
    margin-left:  auto;
    margin-right: auto;
}

h2 {
    color:       #333;
    font-family: system-ui;
    font-size:   40px;
}

h1 span:nth-child(2n+1) { color: #090; }
h1 span:nth-child(2n)   { color: #0d0; }
h1 span {
    font-family: system-ui;

    position: relative;
    bottom:   2px;
}

.t {
    font-family: 'Comfortaa', cursive;

    display: inline-block;
}

h1 {
    background-color: rgba(145, 206, 169, 0.72);
    border-radius: 32px;
    color: rgb(0, 200, 0);
    font-size:   40px;
    font-weight: bold;

    max-width:    800px;
    max-height:   85px;
    margin-left:  auto;
    margin-right: auto;
}

body {
    background-color: #EEE;
}
