* {
    text-align:  center;
    font-family: Verdana;

    padding: 10px;
}

.btcf {
    position: relative;
    bottom: 25px;
    left:  161px;
}

.cf {
    position: relative;
    left: 161px;
}

.wconfirm {
    position: relative;
    right: 43px;
}

.minimum {
    position: relative;
    left: 118px;
    bottom: 7px;
}

input {
    background-color: #DDD;
    font-size: 17px;
}

h3 {
    color: #666;
    font-size:   16px;
    font-weight: normal;
}

.sec {
    background-color: rgba(145, 206, 169, 0.72);
    border-radius: 12px;

    max-width:    666px;
    max-height:   234px;
    margin-left:   auto;
    margin-right:  auto;
}

h2 {
    background-color: rgba(145, 206, 169, 0.72);
    border-radius: 12px;
    color: #444;
    font-size:   40px;
    font-weight: normal;

    max-width:    666px;
    margin-left:   auto;
    margin-right:  auto;
}

h1 span:nth-child(2n+1) { color: #090; }
h1 span:nth-child(2n)   { color: #0d0; }
h1 span {
    font-family: system-ui;

    position: relative;
    bottom:   2px;
}

.t {
    color: rgb(0, 200, 0);
    font-family: 'Comfortaa', cursive;

    display: inline-block;
}

h1 {
    background-color: rgba(145, 206, 169, 0.72);
    border-radius: 32px;
    font-size:   40px;
    font-weight: bold;

    max-width:    800px;
    max-height:   85px;
    margin-left:  auto;
    margin-right: auto;
}

body {
    background-color: #EEE;
}
