* {
    padding: 10px;
}

img {
    background-color: rgba(145, 206, 169, 0.72);
    max-width:  333px;
    max-height: 666px;
    border-radius: 16px;

    padding:  0;
    position: relative;
    bottom:   282px;
    left:     333px;
}

.add {
    font-size: 20px;
    display:   none;

    position: relative;
    bottom:42px;
    right:40px;
}

.sp {
    color:     #090;
    font-size: 14px;

    position: relative;                                                        
    bottom:   42px;
    right:    35px;
}

.lp {
    color:     #09f;
    font-size: 29px;

    position: relative;                                                        
    bottom:   10px;
    right:    39px;
}

.spacing {
    display: inline-block;
}
